.container-two {
  margin: auto;
  padding: auto;
  max-width: 980px;
  padding: 24px;
}

.grid-three {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 35px;
}

.grid-bill {
  display: grid;
  grid-template-columns: 36px 1fr 100px 80px 80px 60px 30px;
}

.toggle::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  bottom: 2px;
  left: 2px;
  box-shadow:
    rgba(0, 0, 0, 0.2),
    0px,
    1px 4px;
}

.due::before {
  content: 'Day';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: aqua;
}

.grid-item {
  border: 1px solid #dddada;
}

.left {
  border-radius: 12px 0px 0px 12px;
}

.right {
  border-radius: 0px 12px 12px 0px;
}

@media (max-width: 930px) {
  .grid-three {
    grid-template-columns: repeat(2, 1fr);
  }

  .left {
    border-radius: 12px 0px 0px 0px;
  }

  .mid-1 {
    border-radius: 0px 12px 0px 0px;
  }

  .mid-2 {
    border-radius: 0px 0px 0px 12px;
  }

  .right {
    border-radius: 0px 0px 12px 0px;
  }
}
