@import "tailwindcss";
@source "../pages/**/*.{js,ts,jsx,tsx}";
@source "../components/**/*.{js,ts,jsx,tsx}";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
.bold-text {
  color: hsl(30, 13%, 6%);
}

.light-text {
  color: hsl(0, 0%, 42%);
}

.accent {
  color: hsl(180, 100%, 39%);
}

.light-bg {
  background-color: #f0f7f4;
}
