.container {
  margin: auto;
  padding: auto;
  max-width: 980px;
  padding: 24px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 35px;
}

.grid-item {
  border: 1px solid #dddada;
}

.left {
  border-radius: 12px 0px 0px 12px;
}

.right {
  border-radius: 0px 12px 12px 0px;
}

@media (max-width: 930px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .left {
    border-radius: 12px 0px 0px 0px;
  }

  .mid-1 {
    border-radius: 0px 12px 0px 0px;
  }

  .mid-2 {
    border-radius: 0px 0px 0px 12px;
  }

  .right {
    border-radius: 0px 0px 12px 0px;
  }
}
