.logo::after {
  content: "";
  position: absolute;
  background-color: #444141;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  bottom: 30%;
  margin-left: 1px;
}

.logo-A::after {
    content: "";
  position: absolute;
  background-color: hsl(180, 100%, 39%);
  width: 11px;
  height: 1px;
  border-radius: 30%;
  bottom: 30%;
  margin-left: 2px;
}
